version: '2.1'
services:
   ves:
      image: {{ nexus_docker_repo }}/onap/org.onap.dcaegen2.collectors.ves.vescollector:1.2.0
      container_name: "ves"
      hostname: "ves"
      environment:
       - DMAAPHOST={{ mr_ip_addr }}
       - CONSUL_HOST=consul
       - CONSUL_PORT=8500
       - CONFIG_BINDING_SERVICE=config_binding_service
       - SERVICE_NAME=ves
       - HOSTNAME=ves
      ports:
       - "8080:8080"
       - "8443:8443"

   tca:
      image: {{ nexus_docker_repo }}/onap/org.onap.dcaegen2.deployments.tca-cdap-container:1.0.0
      container_name: tca
      hostname: tca
      environment:
       - DMAAPHOST={{ mr_ip_addr }}
       - DMAAPPORT=3904
       - DMAAPPUBTOPIC=unauthenticated.TCA_EVENT_OUTPUT
       - DMAAPSUBTOPIC=unauthenticated.SEC_MEASUREMENT_OUTPUT
       - AAIHOST={{ aai1_ip_addr }}
       - AAIPORT=8443
       - CONSUL_HOST=consul
       - CONSUL_PORT=8500
       - CBS_HOST=cbs
       - CBS_PORT=10000
       - SERVICE_NAME=tca
       - CONFIG_BINDING_SERVICE=config_binding_service
       # set the parameter below to enable REDIS caching. 
       #- REDISHOSTPORT=redis-cluster:6379
      ports:
       - "11011:11011"
       - "11015:11015"

   holmes-engine:
      image: {{ nexus_docker_repo }}/onap/holmes/engine-management:latest
      container_name: he
      hostname: he
      environment:
       - URL_JDBC=db:5432
       - JDBC_USERNAME=holmes
       - JDBC_PASSWORD=holmespwd
       - MSB_ADDR={{ msb_ip_addr }}
       - CONSUL_HOST=consul
       - CONSUL_PORT=8500
       - HOSTNAME=he
      ports:
       - "9102:9102"

   holmes-rule:
      image: {{ nexus_docker_repo }}/onap/holmes/rule-management:latest
      container_name: hr
      hostname: hr
      environment:
       - URL_JDBC=db:5432
       - JDBC_USERNAME=holmes
       - JDBC_PASSWORD=holmespwd
       - MSB_ADDR={{ msb_ip_addr }}
       - CONSUL_HOST=consul
       - CONSUL_PORT=8500
       - HOSTNAME=hr
      ports:
       - "9101:9101"
