[access]
	inheritFrom = All-Projects
[project]
	description = For hosting configurations and blueprints for different deployments
[access "refs/*"]
	owner = group saml/onap-gerrit-dcaegen2-deployments-committers
	read = group GitHub Replication
[access "refs/for/refs/heads/el-alto"]
	push = block group Registered Users
