version: '2.1'
services:
   pgHolmes:
      image: "postgres:9.5"
      container_name: "pgHolmes"
      restart: "always"
      hostname: "phHolmes"
      environment:
       - "POSTGRES_USER=holmes"
       - "POSTGRES_PASSWORD=holmespwd"
      ports:
       - "5432:5432"
      labels:
       - "SERVICE_5432_NAME=pgHolmes"
       - "SERVICE_5432_CHECK_TCP=true"
       - "SERVICE_5432_CHECK_INTERVAL=15s"
       - "SERVICE_5432_CHECK_INITIAL_STATUS=passing"

   pgInventory:
      image: "postgres:9.5"
      container_name: "pgInventory"
      restart: "always"
      hostname: "pgInventory"
      environment:
       - "POSTGRES_USER=inventory"
       - "POSTGRES_PASSWORD=inventorypwd"
      ports:
       - "5433:5432"
      labels:
       - "SERVICE_5432_NAME=pgInventory"
       - "SERVICE_5432_CHECK_TCP=true"
       - "SERVICE_5432_CHECK_INTERVAL=15s"
       - "SERVICE_5432_CHECK_INITIAL_STATUS=passing"


   consul:
      image: "consul:0.8.3"
      container_name: "consul"
      restart: "always"
      hostname: "consul"
      ports:
       - "8500:8500"
      environment:
       - "DOCKER_HOST=tcp://{{ dcae_ip_addr }}:2376"
      command: "agent -ui -server -bootstrap-expect 1 -client 0.0.0.0 -log-level trace"
      labels:
       - "SERVICE_8500_NAME=consul"
       - "SERVICE_8500_CHECK_HTTP=/v1/agent/services"
       - "SERVICE_8500_CHECK_INTERVAL=15s"
       - "SERVICE_8500_CHECK_INITIAL_STATUS=passing"


   config-binding-service:
      image: "{{ nexus_docker_repo }}/onap/org.onap.dcaegen2.platform.configbinding.app-app:{{ dcae_docker_cbs }}"
      container_name: "config_binding_service"
      restart: "always"
      hostname: "config-binding-service"
      environment:
       - "CONSUL_HOST=consul"
      ports:
       - "10000:10000"
      depends_on:
       - "consul"
      labels:
       - "SERVICE_10000_NAME=config_binding_service"
       - "SERVICE_10000_CHECK_HTTP=/healthcheck"
       - "SERVICE_10000_CHECK_INTERVAL=15s"
       - "SERVICE_10000_CHECK_INITIAL_STATUS=passing"

